body, html {
    margin: auto;
    height: 100vh;
    padding: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  
  .login-page {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
  }
  
  .login-container {
    background: #0E0E52;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .login-title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .input-field label {
    font-family: 'Inter', sans-serif;
    font-weight: 350;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 8px;
  }
  
  .input-field input,
  .input-field select {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #F2FBFF;
    font-size: 1rem;
  }
  
  .primary-button {
    background: #2131B9;
    color: #ffffff;
    font-family: 'Lato', sans-serif;  
    font-weight: 600;
    font-size: 1.25rem;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .primary-button:hover {
    background: #141baa;
  }
