body, html {
  margin: 0; /* Corrected margin value */
  padding: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #ffffff;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.academic-record-management-system {
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  font-size: 4vw; /* Responsive font size */
  line-height: 1.5;
  color: #0E0E52;
}

.connect-wallet {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.5vw; /* Responsive font size */
  line-height: 1.5;
  color: #FFFFFF;
}

.primary-button {
  border-radius: 8px;
  background: #192BC2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
}

.frame-2, .frame-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 2000px) {
  .academic-record-management-system {
    font-size: 8vw;
  }

  .connect-wallet {
    font-size: 3vw;
  }
}
.primary-button:hover {
  background: #141baa;
}