body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.staff-dashboard {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 11px 8px 11px 14px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    border-radius: 10px;
    border-right: 1px solid #E0E0E0;
    background: #0E0E52;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 13.1px 72px 13.1px;
    box-sizing: border-box;
    width: 250px;
    color: white;
}

.academic-record-management {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 800;
    font-size: 30px;
    line-height: 1.5;
    color: #FFFFFF;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;
    margin-bottom: 40px;
    padding: 5px 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;
    margin-bottom: 40px;
    padding: 5px 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    color: black;
    margin-top: 370px;
  }

.menu-item:hover,
.menu-items:hover {
    background: #141baa;
}

.menu-item .home,
.menu-item .open-book,
.menu-item .ratings,
.menu-items .logout-rounded {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.home {
    background-image: url('/png/home.png');
}

.open-book {
    background-image: url('/png/open_book.png');
}

.ratings {
    background-image: url('/png/ratings.png');
}

.logout-rounded {
    background-image: url('/png/logout_rounded.png');
}

.menu-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0E0E52;
    color: white;
    padding: 11px 55px 5px 33.4px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 9px;
    box-sizing: border-box;
}

.dashboard {
    font-weight: 800;
    font-size: 40px;
    font-family: 'Lato';
    line-height: 1.5;
    color: #FFFFFF;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.male-user {
    background-image: url('/png/male_user.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.user-details {
    font-size: 18px;
}

.user-info:hover {
    background: #141baa;
}

.content {
    flex: auto;
    background: #ECEDF1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}

.upload-section {
    background: #ECEDF1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.upload-title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 18px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background: #0E0E52;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background: #141baa;
}

.tab-content {
    display: none;
    flex-direction: column;
}

.tab-content.active {
    display: flex;
}

.upload-form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.input-field {
    margin-bottom: 20px;
    flex: 1 1 30%;
}

.input-label {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.input-box {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-box.small {
    width: 50px;
}

.primary-button,
.primary-button0 {
    background-color: #0E0E52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
}

.primary-button,
.primary-button0:hover {
    background-color: #141baa;
}
